<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- 카메라 사용 권한을 요청합니다. -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <!-- 앱에서 카메라 기능을 사용함을 명시합니다. (필수 기능으로 설정됨) -->
    <uses-feature android:name="android.hardware.camera" android:required="true"/>
    <!-- 앱에서 카메라의 자동 초점 기능을 사용함을 명시합니다. (필수 기능으로 설정됨) --><uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="true"/>
    <!-- 인터넷 사용 권한을 요청합니다. (예: API 요청, 네트워크 통신) - google ml kit 사용 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- 안드로이드 13 (SDK 33) 이상에서 알림 권한을 요청합니다. -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <!-- 외부 저장소(갤러리 등)에서 파일을 읽을 수 있는 권한을 요청합니다. (Android 10 이하에서 사용) -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!-- 외부 저장소(갤러리 등)에 파일을 저장할 수 있는 권한을 요청합니다. (Android 10 이하에서 사용) -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- Android 13 (SDK 33) 이상에서는 READ_EXTERNAL_STORAGE 대신 READ_MEDIA_IMAGES 권한을 사용해야 합니다. 
         이 권한을 통해 앱에서 갤러리의 이미지를 읽을 수 있습니다. -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>
    <application
        android:usesCleartextTraffic="true" 
        android:label="health_routine"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
